.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 2%;
}

.nav-link {
  margin: 1%;
}

.Login {
  display: flex;
  justify-content: center;
}

.Login form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Login form input {
  height: 25px;
  width: 200px;
  margin: 2%;
}

.Login form button {
  width: 100px;
  height: 25px;
  margin: auto;
}

.FriendsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.friend-container {
  margin: 2%;
  border: 1px solid lightgrey;
  text-align: center;
  width: 20%;
}

.FriendsCard {
  width: 400px;
  height: 300px;
  margin: 2% auto;
  text-align: center;
}
